body{
    --primary-color: #A67B53;
    --secondary-color: #D18D28;
    --contrast-color: #074859;
    --light-color: #f5f4f1;
    --dark-color: #47311d;
}



p{
    color: var(--dark-color);
}

body{
    background-color: var(--light-color);
}