#whiskey-type-wrapper{
    margin-bottom: 4em;
}

#whiskey-type-nav ul{
    padding: 0;
    font-size: 20px;
}


#whiskey-type-nav ul li{
    display: inline;
    text-transform: capitalize;
}

#whiskey-type-nav ul li a{
    color: var(--contrast-color);
}

.barrel-card{
    width: 100%;
    margin-bottom: 1em;
    flex-wrap: wrap;
}

.barrel-img-wrapper{
    flex: 0 0 100%;
    position: relative;
}

.barrel-img-wrapper img{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: top;
}

.barrel-listing{
    flex-direction: column;
}

.barrel-details{
    flex: 0 0 100%;
    text-align: left;
    color: var(--dark-color);
}

.barrel-details>div{
    padding: 0.5em 1em;
}

.barrel-title{ 
    border-bottom: 3px solid var(--primary-color);
}

.barrel-description{
    padding-top: 1.5em !important;
}

.barrel-description p{
    color: var(--dark-color);
}

@media (min-width: 580px) {
    
    
    .barrel-listing{
        flex-direction: row;
    }
    
    .barrel-img-wrapper:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 5px;
        right: 0;
        top: 0;
        border-right: 3px solid var(--primary-color);
    }

    
    .barrel-img-wrapper{
        flex: 0 0 45%;
        padding-right: 2em;
    }

        
    .barrel-details{
        flex: 0 0 55%;
    }

        
    .barrel-details>div{
        padding: 0.5em 2em;
    }

}
