
#footer{
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--contrast-color);
}
#footer p{
    color: var(--light-color) !important;
}