h1{
    margin: 1em !important;
}

nav{
    background-color: var(--light-color);
    align-items: baseline !important;
    font-weight: bold;
}

.navbar-brand{
    color: var(--primary-color) !important;
}

.nav-item{
    margin: 0 1em;
    color: var(--dark-color) !important;
}

.nav-item a{
    color: var(--dark-color);
    text-transform: uppercase;
}