.content{
}

.container{
    padding-top: 2em;
    padding-bottom: 2em;
}

.flex{
    display: flex;
}

.flex-center{
    align-items: center;
    justify-content: center;
}

body{
    background-color: var(--light-color);
}