.whiskey-details-wrapper{
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
    background-color: var(--light-color);
    padding-bottom: 2em;
    border: 2px solid var(--contrast-color);
    padding: 0.5em 3em 2em 1.5em;
    border-radius: 0 40px 40px 0;
    box-shadow: 5px 3px 11px 0px #a3a3a3;

}

.back-wrapper{
    text-align: left;
    padding: 1em 2em 0 2em;
}

.back-wrapper a{
    font-size: 1.5em;
}

.margin-label{
    margin: 1.2em 0;
}

.margin-top{
    margin-top: 2em;
}

.margin-bottom-none {
    margin-bottom: 0 !important;
}

.header-label{
    background-color: var(--secondary-color);
    padding-left: 2em;
    padding: 2px 2em;
    text-align: left;
    color: var(--light-color);
}

.header-label h3{
    margin: 8px 0;
}

.sticker-label h3 {
    margin: 0;
    margin-right: 2em;
}

.header-title{
    font-size: 1.75em;
    font-family: monospace;
}

.sticker-label{
    display: flex;
    align-items: baseline;
    text-transform: uppercase;
}

.sticker {
    background: var(--light-color);
    padding: 5px 25px;
    border-radius: 0.8em;
    margin: 5px;
    flex-grow: 1;
}

.sticker h2{
    margin: 0;
    color: var(--dark-color);
    font-size: 1.5em;
}

.label-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    padding: 0 2em;
}

.notes{
    padding: 1.5em;
    text-align: left;
    border: 1px solid var(--secondary-color);
    border-top: none;
    display: flex;
    flex-wrap: wrap;
}

.notes p{
    color: var(--dark-color);
    display: inline;
    line-height: 36x;
    font-size: 15px;
    display: inline-block;
    flex: 1 1 100px;
    
}

.chart-wrapper{
    width: 50%;
    position: relative;
    text-align: left;
}

.chart-wrapper-full{
    width: 100%;
}

.flex-chart{
    min-width: 50%;
}


@media (max-width: 900px){
    .chart-wrapper{
        width:100%;
    }
}

.chart canvas{
    height: 100%;
    width: 100%;
}

.chart-wrapper h4 {
    color: var(--secondary-color);
}

@media (max-width:576px) {
    .whiskey-details-wrapper{
        width: 100% !important;
    }
}